<% layout("layouts/boilerplate") %>
<div class="mb-3">
  <a href="/">Back to Index</a>
</div>

<!-- Original Post -->
<div class="col-12 mb-3">
  <div class="card mb-3">
    <div class="card-head">
      <div class="">
        <p class="card-text text-secondary ms-2">
          Posted by <%=post.author.username%>
        </p>
      </div>
      <div class="mb-3">
        <h1 class="ms-3"><%=post.title%></h1>
      </div>
    </div>

    <div class="card-body">
      <div
        class="text-center mb-3"
        style="background-color: rgb(250, 249, 247)"
      >
        <img
          src="<%=post.image%>"
          class="img-fluid"
          style="max-height: 600px; width: auto"
        />
      </div>
      <p class="card-text"><%=post.content%></p>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col">2 days ago</div>
        <!-- Buttons -->
        <% if (currentUser && post.author.equals(currentUser._id)) { %>
        <div class="col text-end">
          <a class="card-link btn btn-info" href="/post/<%=post._id%>/edit"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/post/<%=post._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
        <% } %>
        <!-- End Buttons -->
      </div>
    </div>
  </div>
</div>
<!-- End Original Post -->

<!-- Reply Form -->
<div class="mb-3">
  <form
    action="/post/<%=post._id%>/replies"
    method="POST"
    novalidate
    class="validated-form"
  >
    <label for="reply" class="form-label text-center">Post a Reply</label>
    <textarea
      class="form-control mb-3"
      id="reply"
      rows="3"
      name="reply[content]"
      placeholder="What do you think?"
      required
    ></textarea>
    <div class="invalid-feedback">Can't submit an empty reply!</div>
    <div class="text-end">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
<!-- End Reply Form -->

<h2 class="mb-3">Replies</h2>

<!-- Replies -->
<% for( let index = 0; index < post.replies.length; index++ ) { %>
<div class="col-12 mb-3">
  <div class="card mb-3">
    <p class="text-secondary mb-0 ms-2">
      Posted by <%=post.replies[index].author.username%>
    </p>
    <div class="card-body">
      <p class="card-text"><%=post.replies[index].content%></p>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col">
          <p class="text-secondary">2 days ago</p>
        </div>
        <!-- Buttons -->
        <% if (currentUser &&
        post.replies[index].author.equals(currentUser._id)) { %>
        <div class="col text-end">
          <a
            class="card-link btn btn-info"
            href="/post/<%=post._id%>/replies/<%=post.replies[index]._id%>/edit"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/post/<%=post._id%>/replies/<%=post.replies[index]._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
        <% } %>
        <!-- End Buttons -->
      </div>
    </div>
  </div>
</div>

<% } %>

<!-- End Replies -->
