<% layout("layouts/boilerplate") %>
    <h1>
        <%=post.title%>
    </h1>
    <img src="<%=post.image%>" alt="">
    <p>
        <%=post.content%>
    </p>
    <form action="/post/<%=post._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <footer>
        <a href="/post/<%=post._id%>/edit">Edit</a>
        <br>
        <a href="/">Back to Index</a>
    </footer>