<% layout("layouts/boilerplate") %>

<!-- Posts -->
<% for( let index=posts.length-1; index>= 0 ; index--) { %>
<div class="d-flex justify-content-center align-self-center">
  <div class="col-12 col-lg-8 col-xl-6">
    <div class="card shadow mb-3">
      <!-- card with image -->
      <% if (posts[index].image) { %>
      <div class="card-body">
        <%- include("partials/card/cardHeader", {post: posts[index]}) %>
        <div class="thumb-post bg-bilbaoLight mb-3">
          <img src="<%=posts[index].image.url%> " class="img-fluid mh-25" />
        </div>
        <a href="post/<%=posts[index]._id%> " class="stretched-link"></a>
        <h3 class="card-title mb-3"><%= posts[index].title %></h3>
        <%- include("partials/card/cardFooter", {post: posts[index]}) %>
      </div>
      <% } else { %>
      <!-- card with no image -->
      <div class="card-body">
        <%- include("partials/card/cardHeader", {post: posts[index]}) %>
        <h3 class="card-title"><%= posts[index].title %></h3>
        <p class="card-text"><%=posts[index].content%></p>
        <a href="post/<%=posts[index]._id%> " class="stretched-link"></a>
        <%- include("partials/card/cardFooter", {post: posts[index]}) %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>
