<% layout("layouts/boilerplate") %>
<!-- Neighbourhood Filter Nav -->
<div class="row">
  <div class="col d-none d-md-block">
    <%- include("partials/neighbourhoodAccordion/neighbourhoodAccordion") %>
  </div>
  <!-- Post Filter Buttons -->
  <div class="d-flex justify-content-center align-self-center">
    <div class="col col-md-8 offset-md-6 col-xl-6 offset-lg-5 offset-xl-1">
      <%- include("partials/postFilters/postFilterButtons") %>
      <!-- Post Filter Navbar -->
      <%- include("partials/postFilters/postFilterNav") %>
      <!-- Posts -->
      <% for( let index=posts.length-1; index>= 0 ; index--) { %>

      <div class="card shadow mb-3">
        <!-- card with image -->
        <% if (posts[index].image) { %>
        <div class="card-body">
          <%- include("partials/card/cardHeader", {post: posts[index]}) %>
          <!-- Image Partial -->
          <a href="post/<%=posts[index]._id%> " class="text-decoration-none text-black">  
          <%- include("partials/card/cardImage", {post:posts[index] }) %>
            <h3 class="card-title mb-3"><%= posts[index].title %></h3>
          </a>
          <%- include("partials/card/cardFooter", {post: posts[index]}) %>
        </div>
        <% } else { %>
        <!-- card with no image -->
        <div class="card-body">
          <%- include("partials/card/cardHeader", {post: posts[index]}) %>
          <div class="mb-3">
            <a href="post/<%=posts[index]._id%> " class=" text-decoration-none text-black">
              <h3 class="card-title"><%= posts[index].title %></h3>
              <p class="card-text"><%=posts[index].content%></p>
            </a>
          </div>
          <%- include("partials/card/cardFooter", {post: posts[index]}) %>
        </div>
        <% } %>
      </div>

      <% } %>
    </div>
  </div>
</div>
