<% layout("layouts/boilerplate") %>
<h1><%= title %></h1>
<p>Welcome to <%=title%></p>
<% for( let index=posts.length-1; index>= 0 ; index--) { %>
<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 d-flex">
        <img
          src="<%=posts[index].image%> "
          alt=""
          class="img-fluid align-self-center"
        />
      </div>
      <div class="col-lg-8 d-flex">
        <div class="align-self-center">
          <h5 class="card-title"><%= posts[index].title %></h5>
          <p class="card-text"><%=posts[index].content%></p>
          <p class="card-text"><small class="text-muted">X Replies</small></p>
          <a href="post/<%=posts[index]._id%> " class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% } %>
